<%- include("templates/header") %>
<h1>Welcome to Andy's chat system!</h1>
<a href="/signup"><button>Sign Up</button></a>
<br />
<a href="login"><button>Login</button></a>
<%- include("templates/footer") %>
