<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COMP3920-Assignment2</title>
  </head>
  <body>
    <% if (username) { %>
    <span
      >user: <%- username %>
      <a href="/api/logout"><button>Logout</button></a></span
    >
    <% } %>
  </body>
</html>
